@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    background: white;
    display: block;
    height: 300px;
    /*border: 8px solid grey;*/
    
    
}

#text_block {
    
    font-family: 'Titillium Web', sans-serif;
   
    
    position: fixed;
    bottom: 0px;
    padding: 20px;
    
}


#resumeProject {
    text-align: start;
    font-size: 3em;
   
     
}


#first_part{
    
    width: 550px;
    
    height: 100%;
    float:left;
}

#image_wiicoon {
    width: 500px;
    position: fixed;
    left: 30px;
    top: 30px;
    
    
}

#date_part{
    float: right;
    height: 300px;
    width: 100px;
    background: rgb(49, 50, 53);
    padding-top: 120px;
    

}

h2{
    letter-spacing: 3px;
    transform: rotate(-90deg);
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    color: white;
    
}

#gif_wiicoon {
    height: 300px;
    float: right;  
}



