#titulo{
    padding-left: 500px;
}

#cara_0{
    padding-left: 500px;
    
   
    
}

#columnasAbajo{
    padding-left: 445px;
}

#cara_1{
    padding-left: 286px;
    float: left;
  
}
#giroFilasDerecha{
    float: left;
}


#cara_2{
    float: left;
}

#giroFilasIzquierda{
    float: left;
}

#cara_3 {
   
}
#girosColumnasArriba{
    padding-left: 500px;
}
#cara_4{
    padding-left: 500px;
    padding-bottom: 10px;
  
}

#cara_5{
    padding-left: 500px;
    padding-bottom: 50px;
  
}
